@tailwind base;
@tailwind components;
@tailwind utilities;

/* To initialise tailwind */
/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */
@font-face {
  font-family: "YourFont";
  src: url("../fonts/TTNorms-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YourFont";
  src: url("../fonts/TTNorms-ExtraBoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "YourFont", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stat-card {
  box-shadow: 5px 5px 10px #796fab36;
}
.stat-card:after{
  background: url(images/asset1.png);
  background-size: cover;
  background-position: center;
  @apply content-[""] h-full z-[-1] absolute bottom-0 left-0 w-full opacity-30
}